:root {
    --base-color:  rgb(253, 58, 58);
    --base-border: solid 1px rgb(163, 13, 13);
    color: rgb(239, 218, 218);
}

.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: rgb(248, 245, 240);
    font-family: serif;
}

header {
    display: flex;
    justify-content: space-around;
    border: var(--base-border);
    align-items: center;
    background-color: var(--base-color);
}

header, main, .hero, footer, body {
    max-width: 1200px;
    margin: auto;
}

h1 { 
    font-size: 32px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-family: "bellefair", serif;
}

h2, h3 {
    font-family: "bellefair", serif;
}

nav a {
    font-size: 20px;
    margin: 0;
    text-align: center;
    color:rgb(3, 247, 80);
    text-decoration: none;
    padding: 7px;

}

nav a:hover {
    text-decoration: none;
    color:rgb(119, 255, 162);
    padding:7px;
}

.hero {
    background-image: url(../images/album\ hero.jpg);
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    font-family: "bellefair", serif;
}

.hero-content {
    background-color: var(--base-color);
    color:rgb(255, 255, 255);
    margin: 15px;
    padding: 20px;
    border-radius:  10px;
}

.hero-content h2 {
    font-size: 30px;
}

.hero-content p {
    font-size: 20px;
}

.album {
    border: solid 1px var(--base-border);
    margin: 20px 0;
    background-color: var(--base-color);
    display: flex;
}

.album-image-display, .album-image-details {
    max-width: 500px;
    max-height: 500px;
}

.album h2 {
    margin: 4px;
}

.album h5 {
    font-size: 18px;
    max-width: 10ch;
}

.album-details {
    margin: 15px;
}

.album-details h2, h3, h4 {
    font-size: 25px;
}

.album-specs li {
    margin: 3px;
}

.album-specs ol {
    font-size: 18px;
    text-decoration: none;
}

.album-actions {
    margin: 10px;
}

.album-description {
    line-height: 1.5;
    font-size: 18px;
    max-width: 60ch;
}

.store {
    display:flex;
    border: solid 1px var(--base-border);
    margin: 20px 0;
    background-color: var(--base-color);
}

.store h2 {
    max-width: 50ch;
    min-width: 14ch;
    margin: 15px
}

.order {
    margin: 30px;
}

.pricing {
    font-size: 30px;
    margin: 20px;
}

.add-to-cart, .wishlist {
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Bellefair", serif;
}

.add-to-cart {
    background-color: #b98e00;
    color:#f4f2f3;
}

.add-to-cart:hover {
    color: rgb(243, 243, 23);
}

.wishlist:hover {
    color: rgb(236, 158, 12);
}

footer {
    display: flex;
    justify-content: space-around;
    border: var(--base-border);
    align-items: center;
    background-color: var(--base-color);
}

.album-video {
    margin: 15px;
}

